<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>wavsep</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>ObsoleteFileCustomFileNotFoundErrorFilter</display-name>
    <filter-name>ObsoleteFileCustomFileNotFoundErrorFilter</filter-name>
    <filter-class>com.sectooladdict.filters.ObsoleteFileCustomFileNotFoundErrorFilter</filter-class>
    <init-param>
      <description></description>
      <param-name>excludePatterns</param-name>
      <param-value>*.jsp</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>ObsoleteFileCustomFileNotFoundErrorFilter</filter-name>
    <url-pattern>/active/Obsolete-Files/ObsoleteFile-Detection-Evaluation-GET-200Error/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>FakeHiddenFileCustomResponseFilter</display-name>
    <filter-name>FakeHiddenFileCustomResponseFilter</filter-name>
    <filter-class>com.sectooladdict.filters.FakeHiddenFileCustomResponseFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FakeHiddenFileCustomResponseFilter</filter-name>
    <url-pattern>/active/Obsolete-Files/ObsoleteFile-FalsePositives-GET/custom/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>FakeHiddenFileDefaultResponseFilter</display-name>
    <filter-name>FakeHiddenFileDefaultResponseFilter</filter-name>
    <filter-class>com.sectooladdict.filters.FakeHiddenFileDefaultResponseFilter</filter-class>
	<init-param>
      <description></description>
      <param-name>excludePatterns</param-name>
      <param-value>*.jsp</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>FakeHiddenFileDefaultResponseFilter</filter-name>
    <url-pattern>/active/Obsolete-Files/ObsoleteFile-FalsePositives-GET/default/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>FakeHiddenFileDynamicResponseFilter</display-name>
    <filter-name>FakeHiddenFileDynamicResponseFilter</filter-name>
    <filter-class>com.sectooladdict.filters.FakeHiddenFileDynamicResponseFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FakeHiddenFileDynamicResponseFilter</filter-name>
    <url-pattern>/active/Obsolete-Files/ObsoleteFile-FalsePositives-GET/dynamic/*</url-pattern>
  </filter-mapping>
</web-app>